---
metadata:
  name: skiff
site:
  domain: labos.local
  config:
    pki:
      ca:
        days: 3065
        subj: /CN=skiff-root-ca
  service:
    libvirt:
      enabled: true
  vm:
    - name: skiff
      arch: null
      cpu: null
      image: null
      memory: null
      osinfo: http://ubuntu.com/ubuntu/24.04
      cloudinit:
        enabled: true
      networks:
        interfaces:
          oam:
            address:
              mac: ba:be:fa:ce:00:00
              ipv4:
                dhcp: true
              ipv6:
                dhcpv6: true
status:
  site_dir: /tmp/skiff
  gpg_dir: /tmp/skiff/.gnupg
  pki_dir: /tmp/skiff/pki
  pki_ca_key_file: /tmp/skiff/pki/ca.key
  pki_ca_cert_file: /tmp/skiff/pki/ca.crt
  pki_ca_bundle: /tmp/skiff/ca.pfx
  ssh_key_file: /tmp/skiff/id_ed25519
  libvirt_emulator: /opt/homebrew/bin/qemu-system-aarch64
  libvirt_firmware_file: /opt/homebrew/share/qemu/edk2-aarch64-code.fd
  libvirt_image_dir: /tmp/skiff/images
  libvirt_cloudinit_dir: /tmp/skiff/boot
